* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Custom';
    src: url(Raleway-Regular.ttf);
}

html {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;    
    background-color: whitesmoke;
}

.fr{
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.v-none{
    visibility: hidden;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

#main_container {
    width: 60%;
    height: 60%;
    margin: auto;
}

#watch_container {
    width: 100%;
    height: 60%;
    margin: auto;    
}

#watch_container #time{
    height: 60%;
    width: 80%;        
    border-radius: 0.5rem;
    font-size: 5rem;
    background-color:rgb(240 138 0 / 42%);
    transition: background-color 1000ms linear;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.running{
    background-color: rgb(189 255 63 / 51%) !important;
}

#controls_container {
    width: 80%;
    height: 40%;
    margin: auto;
    justify-content: space-between;
}
#controls_container .control_button{
    height: 40%;
    width: 25%;   
    border: 1px solid grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


